@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 8, 8, 8;
  --background-start-rgb: 204, 207, 202;
  --background-end-rgb: 204, 207, 202;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 204, 207, 202;
    --background-start-rgb: 8, 8, 8;
    --background-end-rgb: 8, 8, 8;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.text-shadow-custom {
  text-shadow: 0 0 8px #cccfcabf;
}